
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>
<div class="form__container form__container-register">
    <form asp-action="RegisterNewAccount" class="form">
        <input value="@Model" class="d-none" name="ReturnUrl" />
        <h3 class="form__heading">Create Account</h3>
        <input type="text" name="username" placeholder="username" class="form__field">
        <input type="email" name="email" placeholder="email" class="form__field">
        <input type="password" name="password" placeholder="password" class="form__field">
        <input type="password" name="confirmPassword" placeholder="confirm password" class="form__field">

        <div class="text-danger" id="registerErrorMessage" asp-validation-summary="ModelOnly"></div>

        <button type="submit" class="btn btn--main">Sign Up</button>
    </form>
</div>
